.footer-container {
  background-color: black;
  text-align: center;
  font-family: sans-serif;
  color: white;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
  grid-template-rows: 0.3fr 1fr;
  grid-template-areas:
    "company solutions documentations legal"
    "copyrights copyrights copyrights copyrights";
}

.company1,
.solutions1,
.documentations1,
.legal1 {
  padding: 2rem 0 0.4rem 0rem;
  border-bottom: 1px solid white;
}

.copyrights {
  grid-area: copyrights;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.flex1 {
  display: flex;
  justify-content: center;
}

.company {
  grid-area: company;
}
.solutions {
  grid-area: solutions;
}
.documentations {
  grid-area: documentations;
}
.legal {
  grid-area: legal;
}
.content1,
.content2,
.content3,
.content4 {
  margin: 1rem 0;
  cursor: pointer;
}

@media only screen and (max-width: 680px) {
  .footer-container {
    grid-template-columns: 1fr;
    grid-template-roes: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "company"
      "solutions"
      "documentations"
      "legal"
      "copyrights";
  }
}
